.products {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.product__list {
    width: 100%;
    display: flex;

    transition: transform .3s ease;
}

.products__card {
    display: flex;
    justify-content: center;
    min-width: 100%;
    max-width: 450px;
}

.product__btns {
    display: flex;
    align-self: center;
    gap: 20px;
    margin: 10px;
}

.product__single__brt--active {
    transform: scale(1.2)
}

.product__single__brt {
    background-color: #1B7A45;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.product__single__brt>svg {
    color: white;
}

@media (min-width: 1024px) {

    .product__btns {
        display: none;
    }

    .product__list {
        width: 100%;
        max-width: var(--container-wide);
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
        padding: 20px 0;
    }

    .products__card {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        max-width: 260px;
        min-width: 0;

        transition: all .3s ease;

        &:hover{

            transform: scale(1.05);

        }
    }

}

@media (min-width: 1600px) {

    .products__card {
        max-width: 450px;
    }

}